In [1]:
import pandas as pd
data = pd.read_csv(r'C:\DATA ANALYSIS AND DATA SCIENCE PROJECTS\US Superstore Data Visualizations\data\us_superstore_dataset.csv')

In [17]:
print("Metadata Summary")
print("\nNumber of Rows:", data.shape[0])
print("\nNumber of Columns:", data.shape[1])
print("\nColumns:")
print(data.columns.tolist())
print("\nData Types:")
print(data.dtypes.value_counts())

Metadata Summary

Number of Rows: 9994

Number of Columns: 21

Columns:
['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

Data Types:
object     15
int64       3
float64     3
Name: count, dtype: int64

In [4]:
data.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [5]:
data['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [6]:
data['Segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [7]:
data['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [8]:
data['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [9]:
data['Sub-Category'].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [10]:
data.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [11]:
data.duplicated().sum()

np.int64(0)

In [13]:
overview = pd.DataFrame({
    'Data Type': data.dtypes,
    'Unique Values': data.nunique(),
    'Missing Values': data.isnull().sum(),
    'Example': data.iloc[0]
})
overview

,Data Type,Unique Values,Missing Values,Example
Row ID,int64,9994,0,1
Order ID,object,5009,0,CA-2016-152156
Order Date,object,1237,0,08-11-2016
Ship Date,object,1334,0,11-11-2016
Ship Mode,object,4,0,Second Class
Customer ID,object,793,0,CG-12520
Customer Name,object,793,0,Claire Gute
Segment,object,3,0,Consumer
Country,object,1,0,United States
City,object,531,0,Henderson
State,object,49,0,Kentucky
Postal Code,int64,631,0,42420
Region,object,4,0,South
Product ID,object,1862,0,FUR-BO-10001798
Category,object,3,0,Furniture
Sub-Category,object,17,0,Bookcases
Product Name,object,1850,0,Bush Somerset Collection Bookcase
Sales,float64,5825,0,261.96
Quantity,int64,14,0,2
Discount,float64,12,0,0.0
Profit,float64,7287,0,41.9136

In [14]:
#Summary Statistics
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Row ID,9994.0,4997.500000,2885.163629,1.000,2499.25000,4997.5000,7495.750,9994.000
Postal Code,9994.0,55190.379428,32063.693350,1040.000,23223.00000,56430.5000,90008.000,99301.000
Sales,9994.0,229.858001,623.245101,0.444,17.28000,54.4900,209.940,22638.480
Quantity,9994.0,3.789574,2.225110,1.000,2.00000,3.0000,5.000,14.000
Discount,9994.0,0.156203,0.206452,0.000,0.00000,0.2000,0.200,0.800
Profit,9994.0,28.656896,234.260108,-6599.978,1.72875,8.6665,29.364,8399.976